@media screen and (min-width: 1150px) and (max-width: 1524px) {
    /* Proyek */
    .main-proyek-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media screen and (min-width: 1090px) and (max-width: 1350px) {
    /* Footer */
    .footer-logo-kb {
        width: 90px;
    }

    .mitra-logo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
    }

    .mitra-logo img {
        height: 35px;
    }

    .footer-links ul {
        gap: 2em;
    }
}

@media screen and (min-width: 961px) and (max-width: 1089px) {
    /* Footer */
    .footer-logo-kb {
        width: 85px;
    }

    .footer-mitra h4, .footer-links h4 {
        font-size: 0.95em;
    }

    .mitra-logo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
    }

    .mitra-logo img {
        height: 30px;
    }

    .footer-links ul {
        gap: 1.2em;
    }
}

/* Laptop L */
@media screen and (max-width: 1280px) {
    /* Navbar */
    .navbar {
        font-size: 0.8em;
    }

    .logo-koribali {
        width: 40px;
    }

    .navbar-title h1 {
        font-size: 1.9em;
    }

    .navbar-menu ul {
        gap: 0; 
    }

    /* Hero */
    .hero {
        height: 700px;
    }

    .hero-content {
        max-width: 700px;
    }

    .hero h2 {
        font-size: 2.5em;
        margin-bottom: 0.35em;
    }

    /* Tentang */
    .main-tentang h2 {
        font-size: 2.3em;
    }

    .main-tentang-container {
        width: 70%;
        padding: 2em 4em;
    }

    /* Layanan */
    .main-layanan h2 {
        font-size: 2.3em;
    }

    .daftar-layanan {
        padding: 1.5em 2.5em;
        border-radius: 0.5em;
    }

    /* Proyek */
    .main-proyek h2 {
        font-size: 2.3em;
    }

    .card-proyek h3 {
        margin-bottom: 0.25em;
    }

    .card-proyek p {
        font-size: 0.8em;
    }

    /* Galeri */
    .main-galeri h2 {
        font-size: 2.3em;
    }
}

/* Tablet */
@media screen and (max-width: 960px) {
    /* Navbar */
    .navbar {
        width: 100%;
        flex-direction: column;
    }

    .navbar-logo {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .navbar-logo label {
        cursor: pointer;
        position: relative;
    }

    .navbar-logo label img {
        display: flex;
        align-items: center;
        width: 35px;
        height: 35px;
    }

    .icon-menu {
        display: block;
    }

    #menu:checked ~ .navbar-logo .icon-menu {
        display: none;
    }

    .navbar-menu {
        width: 100%;
    }

    .navbar-menu ul {
        background-color: #fefefe;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); 
        position: fixed;
        top: 48px;
        width: 100%;
        flex-direction: column;
        gap: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: all 0.4s ease-in-out; 
    }

    .navbar-menu ul li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar-menu a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em;
        border-top: 1px solid #ddd;
    }

    #menu:checked ~ .navbar-menu ul {
        margin-top: 0.7em;
        max-height: 500px;
        opacity: 1;
        transform: translateY(0);
    }

    #menu:checked ~ .navbar-logo .icon-close {
        display: block;
    }

    #menu:checked ~ .navbar-logo .overlay {
        display: block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Hero */
    .hero {
        height: 650px;
    }

    .hero-content {
        max-width: 550px;
    }

    .hero h2 {
        font-size: 2.2em;
    }

    .hero p {
        font-size: 0.85em;
    }
    
    /* Tentang */
    .main-tentang-container {
        width: 80%;
        padding: 3em 4em;
    }

    .main-tentang p {
        font-size: 0.9em;
        line-height: 1.6;
    }

    /* Proyek */
    .card-proyek h3 {
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    .card-proyek p {
        font-size: 0.85em;
    }
    
    .position-btn-proyek a {
        font-size: 0.95em;
    }


    /* Galeri */
    .position-btn-galeri a {
        font-size: 0.9em;
    }

    /* Kontak */
    .main-kontak-container {
        max-width: 580px;
    }

    .main-kontak h2 {
        font-size: 1.7em;
    }

    .main-kontak p {
        font-size: 0.95em;
    }

    .main-kontak a {
        font-size: 0.95em;
    }

    /* Footer */
    .footer-logo-kb {
        width: 80px;
    }

    .mitra-logo img {
        height: 35px;
    }
}

/* Handphone */
@media screen and (max-width: 730px) {
    .container, .navbar-logo {
        width: 90%;
    }

    .logo {
        gap: 0.6em;
    }

    /* Hero */
    .hero {
        height: 500px;
    }

    .hero-content {
        /* background-color: blanchedalmond; */
        max-width: 320px;
    }

    .hero h2 {
        font-size: 1.6em;
        margin-bottom: 0.4em;
    }

    .hero p {
        font-size: 0.7em;
    }

    /* Tentang */
    .main-tentang {
        margin-bottom: 90px;
    }

    .main-tentang-container {
        width: 90%;
        padding: 1.6em 2.2em;
    }

    .main-tentang h2 {
        font-size: 1.9em;
    }

    .main-tentang p {
        text-align: justify;
        font-size: 0.85em;
    }

    /* Layanan */
    .main-layanan {
        margin-bottom: 90px;
    }

    .main-layanan h2 {
        font-size: 1.9em;
    }

    .daftar-layanan {
        padding: 1.3em 2em;
    }

    .daftar-layanan h3 {
        font-size: 1.1em;
        margin-bottom: 0.2;
    }

    .daftar-layanan p {
        font-size: 0.9em;
    }

    /* Proyek */
    .main-proyek {
        margin-bottom: 90px;
    }

    .main-proyek h2 {
        font-size: 1.9em;
    }

    .card-proyek p {
        font-size: 0.8em;
    }

    .position-btn-proyek a {
        font-size: 0.9em;
    }

    /* Galeri */
    .main-galeri {
        margin-bottom: 90px;
    }

    .main-galeri h2 {
        font-size: 1.9em;
    }

    .main-galeri-container figure {
        width: 225px;
    }

    .main-galeri-container img {
        height: 350px;
    }

    .main-galeri-container figcaption {
        font-size: 0.85em;
    }

    .position-btn-galeri a {
        font-size: 0.85em;
    }

    /* Kontak */
    .main-kontak {
        margin-bottom: 90px;
    }

    .main-kontak-container {
        max-width: 340px;
        padding: 2em;
    }

    .main-kontak h2 {
        font-size: 1.45em;
    }

    .main-kontak p {
        font-size: 0.9em;
    }

    .main-kontak a {
        font-size: 0.9em;
    }

    /* Footer */
    .footer-top {
        gap: 1.8em;
        margin-bottom: 1.5em;
    }

    .footer-brand {
        gap: 1.7em;
    }

    .footer-logo-kb {
        width: 75px;
    }

    .footer-mitra h4 {
        font-size: 0.9em;
    }

    .mitra-logo img {
        height: 28px;
    }

    .sosmed-icons  {
        justify-content: center;
    }

    .sosmed-icons img{
        width: 32px;
    }

    .footer-links ul {
        flex-direction: column;
        gap: 0em;
    }

    .footer-bottom p {
        font-size: 0.95em;
    }
}