
@media screen and (min-width: 1150px) and (max-width: 1524px) {
    .main-proyek-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media screen and (min-width: 1000px) and (max-width: 1350px) {
    /* Footer */
    .footer-logo-kb {
        width: 90px;
    }

    .mitra-logo {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
    }

    .mitra-logo img {
        height: 35px;
    }

    .footer-links ul {
        gap: 1.8em;
    }
}

/* Tablet (≤ 1024px) */
@media screen and (max-width: 1260px) {
    /* Navbar */
    .navbar {
        font-size: 0.8em;
    }

    .logo-koribali {
        width: 45px;
    }

    .navbar-title h1 {
        font-size: 1.8em;
    }

    .navbar-menu ul {
        gap: 1em; 
    }

    /* Hero */
    .hero {
        height: 700px;
    }

    .hero-content {
        max-width: 700px;
    }

    .hero-content a {
        font-size: 0.9em;
    }

    .hero h2 {
        font-size: 2.2em;
        margin-bottom: 0.35em;
    }

    .hero p {
        font-size: 0.9em;
    }

    /* Main Tentang */
    .main-tentang h2 {
        font-size: 2.3em;
    }

    .main-tentang-container {
        width: 70%;
        padding: 2em 5em;
    }

    .main-tentang p {
        line-height: 1.7;
        font-size: 0.95em;
        margin-bottom: 1.2em;
    }

    /* Main Layanan */
    .main-layanan h2 {
        font-size: 2.3em;
    }

    /* Main Proyek */
    .main-proyek h2 {
        font-size: 2.3em;
    }

    .card-proyek h3 {
        font-size: 1.15rem;
        margin-bottom: 0.25em;
    }
    .card-proyek p {
        font-size: 0.9em;
    }

    /* Main Galeri */
    .main-galeri h2 {
        font-size: 2.3em;
    }
}

/* Mobile (≤ 880px) */
@media screen and (max-width: 960px) {
    /* header */
    .navbar {
        flex-direction: column;
    }

    .navbar-logo {
        width: 100%;
        /* margin-bottom: 0.7em; */
    }

    .navbar-logo label {
        display: block;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
    }

    .navbar-logo label::before {
        position: absolute;
        content: url(./image/icon-menu.svg);
        font-size: "Material Icons";
        top: 0;
        left: 0;
        font-size: 30px;
    }

    .navbar-menu {
        margin-top: 0.7em;
        width: 100%;
    }

    .navbar-menu ul {
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .navbar-menu ul li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar-menu a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0.8em;
        border-top: 0.2em solid #1a1a1a;
    }

    #menu:checked ~ .navbar-menu ul {
        max-height: 500px;
    }

    #menu:checked ~ .navbar-logo label::before {
        content: url(./image/icon-close.svg);
    }
    /* .open-sidebar-button {
        display: block;
        position: relative;
    } */
    
    /* .open-sidebar-button::before {
        position: absolute;
        content: "navbar-menu";
        top: 0;
        left: 0;
        font-size: ;
    } */

    /* .open-sidebar-button img {
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
    } */

    /* .navbar-menu ul {
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: 0.25s ;
    } */

    /* .navbar-menu a {
        width: 100%;
        padding: 15px;
        border-top: 0.5em solid #1a1a1a;
    } */

    /* .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1000;
        width: 300px;

        background: linear-gradient(to bottom, #0d3b66, #3399cc);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 25);
        transition: 0.75s ease-in-out;
    } */

    /* .navbar-menu a {
        box-sizing: border-box;
        color: #fefefe;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    } */

    /* .open-sidebar-button, .close-sidebar-button {
        display: block;
    } */

    /* .open-sidebar-button img,
    .close-sidebar-button img{
        display: flex;
        align-items: center;
        width: 35px;
    } */

    /* #sidebar-active:checked ~ .links-container {
        max-height: 500px;
        display: flex;
        right: 0;
    } */

        /* #sidebar-active:checked ~ .links-container {
        max-height: 500px;
        display: flex;
        right: 0;
    } */

    /* #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    } */

    /* Hero */
    .hero {
        height: 700px;
    }

    .hero-content {
        max-width: 700px;
    }

    .hero-content a {
        font-size: 0.8em;
    }

    .hero h2 {
        font-size: 1.8em;
        margin-bottom: 0.3em;
    }

    .hero p {
        font-size: 0.825em;
    }

}

/* Extra Small (≤ 480px) */
@media screen and (max-width: 480px) {

}
